<% provide :page_title, 'Registration user' %>
<% currently_at 'Registration' %>
<h1>Регистрация</h1>
<%= form_with model: @user do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <p>
    <%= f.label :Email %><br>
    <%= f.email_field(:email, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.label :Имя %><br>
    <%= f.text_field(:name, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.label :Пароль %><br>
    <%= f.password_field(:password, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.label :Подтверждение_пароля %><br>
    <%= f.password_field(:password_confirmation, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit("Зарегистрироватся", {:class => 'form-control btn btn-warning'}) %>
  </p>
<% end %>
