<%= form_for @todo do |f| %>
  <% if @todo.errors.any? %>
    <% @todo.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <p>
    Название поста<br>
    <%= f.text_field(:title, {:class => 'form-control'}) %>
  </p>
  <p>
    Текст поста<br>
    <%= f.text_area(:body, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit({:class => 'form-control btn btn-success'}) %>
  </p>
<% end %>