<%= form_with model: todo do |form| %>
  <div>
    <%= form.label :Название %><br>
    <%= form.text_field :title %>
    <% @todo.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :Текст %><br>
    <%= form.text_area :body %><br>
    <%= todo.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :Пост %><br>
    <%= form.text_area :todopost %><br>
    <%= todo.errors.full_messages_for(:todopost).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
