<h2>Добавление</h2>
<%= form_for :todo, url: todos_path do |f| %>
  <% if @todo.errors.any? %>
    <% @todo.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <p>
    <%= f.label :Название %><br>
    <%= f.text_field(:title, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.label :текст %><br>
    <%= f.text_area(:body, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit({:class => 'form-control btn btn-success'}) %>
  </p>
<% end %>
