<% provide :page_title, 'Create todo' %>
<% currently_at 'Creat todo' %>
<h2>Добавление</h2>

<%= render 'partials/errors', object: @todo %>

<%= form_for :todo, url: todos_path do |f| %>
  <p>
    <%= f.label :Название %><br>
    <%= f.text_field(:title, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.label :текст %><br>
    <%= f.text_area(:body, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit({:class => 'form-control btn btn-success'}) %>
  </p>
<% end %>
