<h1><%= @todo.title %></h1>
<p><%= @todo.body %></p>
<hr>
<%= render partial: 'partials/form_button',
  locals: { edit_path: edit_todo_path(@todo),
            delete_path: todo_path(@todo) } %>
<hr>
<h2>все коментарии</h2>
<% @todo.comments.each do |comment| %>
  <div class="allert allert-light">
    <p><strong><%= comment.username %></strong>:<%= comment.body %></p>
  </div>
<%= render partial: 'partials/form_button',
  locals: { edit_path: edit_todo_comment_path(@todo, comment),
            delete_path: todo_comment_path(@todo, comment) } %>
<% end %>
<hr>
<h2>Добавление коментария</h2>
<%= form_for([@todo, @todo.comments.build]) do |f| %>
  <p>
    <%= f.label :Пользыватель %><br>
    <%= f.text_field(:username, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.label :Текст %><br>
    <%= f.text_area(:body, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit("comments add", {:class => 'form-control btn btn-warning'}) %>
  </p>
<% end %>
