<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <span class="m-2"><%= image_tag("unnamed.png", size: "40") %></span>
    <span class="fs-1">ToDos</span>
  </a>
  <nav class="d-flex flex-columb flex-md-row mt-md-0 ms-md-auto btn-group" role="group" aria-label="head">
    <span class="btn btn-dark"><%= link_to "Home", home_path %></span>
    <span class="btn btn-dark"><%= link_to "Creat todo", new_todo_path, data: {confirm:'Are you sure?'} %></span>
    <span class="btn btn-dark"><%= link_to "ToDos", todos_path %></span>
    <div class="btn-group">
      <% if user_signed_in? %>
        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
          <%= current_user.name_or_email %>
        </button>
        <div type="button" class="dropdown-menu dropdown-menu-dark">
          <span class="mt-4"><%= button_to 'log out', session_path,
          method: :delete, class: "dropdown-item" %></span>
        </div>
      <% else %>
        <span class="btn btn-dark"><%= link_to "Зарегистрироватся", new_user_path %></span>
        <span class="btn btn-dark"><%= link_to "Войти", new_session_path %></span>
      <% end %>
    </div>
  </nav>
</div>
