<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <title><%= title(yield(:page_title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path('unnamed.png') %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page">
      <%= yield :head_menu %>
      <div class="container">
        <% flash.each do |k, v| %>
          <%= tag.div v, class: "alert alert-#{k}", role: 'alert' %>
        <% end %>
        <%= yield %>
      </div>
      <div class="back-to-top" id="myBtn">
        <%=link_to image_tag("top.png", size: "40")%>
      </div>
      <%= javascript_pack_tag 'top', 'data-turbolinks-track': 'reload' %>
      <%= render "partials/footer" %>
    </div>
  </body>
</html>
